/*local css*/

/* header css */

.owl-wrapper .cap-push-left-10 {
    right: auto;
    width: auto;
    left: 34%;
    top: 63%;
}

.cap-text-bg .text {
    padding: 3px 6px;
    margin-bottom: 3px;
    float: left;
	clear: none;
    margin-right:15px;
}

.header-top-container {
    display: none;
}
.page-wrapper {
    border-top: none;
}
.nav-regular a span {
    font-family: PT_Serif-Web-Regular;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}
.header .logo-wrapper .logo {
    margin: 3px 0 0 -15px;
}
.header-container .hp-blocks-holder .hp-block {
    vertical-align: top !important;
}
.header-container .nav-container.simple .nav {
    margin-top: -5px;
}
.footer-top {
    display: none;
}
.footer-bottom-container {
    display: none;
}
ul.bullet li {
    background: none;
    padding-left: 0px;
}	

/* user menu header css */
.custom_links {
    float: right;
    width: 36%;
    padding-top: 2px;
    margin-left: 10px;
    margin-right: 6px;
}
.custom {
    width: 50%;
    display: inline-block;
    font-size: 22px;
}
span.icon.search-custom img, .custom a img {
    width: 27px;
}
.custom_links, .search-custom img{
	padding-top:8px;
}
div#user-menu-wrapper-regular {
    border-bottom: 0;
    height: 52px;
    margin-left: -10px;
	margin-top: -6px;
    }

@media (max-width: 768px){
	.custom_links{display:none;}
.custom-category .cap.cap-bottom-left a {
    padding: 4px 5px !important;
    margin-right: 1% !important;
  }
  .cap-push-up-20 {
    bottom: 0% !important;
  }
.cap-push-left-20 {
    right: 7% !important;
  }
.custm-cap {
    padding: 5px !important;
  }
  .ic-search img {
    padding-top: 0px !important;
    margin-top: 0px;
	width: 24px;
  }
  .custom_account img {
    width: 22px;
    padding-top: 0px;
    margin-top: -2px;
  }
  .korting {
    margin-left: 0% !important;
    margin-right: 0% !important;
 }
}

.header-regular .block-search.expanding {
    padding-top: 1px;
}
.header-regular .block-search.expanding .input-text {
    padding-left: 1px;
    border: none;
}
.block-search .action.search .icon {
    font-size: 22px;
    width: 0px;
    color: #000 !important;
}

/* Slider */
.cap-text-bg-light-1 .text {
    color: #fff;
    font-family: Snell-Roundhand-Bold-Script;
    font-weight: 100;
    border: 1px solid #fff;
	font-size: 30px;
    letter-spacing: 2px;
}
a:hover .cap-text-bg-light-1 .text {
    background-color: rgba(255,255,255,0.35);
    color: #fff;
}

/* product slider */
.product-item-info a.product-item-link {
    font-family: PT_Serif-Web-Regular;
    font-size: 18px;
    color: #808080;
}
.cute_grid.feature_product h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cute_grid.feature_product h2:before, .cute_grid.feature_product h2:after {
    content: '';
    border-top: 1px solid #ccc;
    margin: 0 0px 0 0;
    flex: 1 0 20px;
}
.cute_grid.feature_product h2:after {
    margin: 0 0 0 3px;
}
.itemslider .block-title{
padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}
/* end */
.col-sm-6.clothing.padding-right {
    padding-right: 10px;
}
.col-sm-6.clothing.padding-left {
    padding-left: 10px;
}
.custom-category .cap-push-right-10 {
    left: 0%;
    width: 100%;
    /* right: auto; */
    text-align: center;
}
.custom-category .cap.cap-bottom-left a {
    padding: 4px 35px;
    border: 0.5px solid #fff;
    color: #fff;
    margin-right: 2%;
    background-color: rgba(118, 118, 118, 0.4);
}
.custom-category .clothing {
    margin-bottom: 30px;
}
.custom-category, .container {
    width: 100%;
}

.custom-category .cap.cap-bottom-left.set_inner a {
    font-size: 28px;
    font-family: PT_Serif-Web-Regular;
    letter-spacing: 2px;
}
.insta_top h4 {
    font-family: PT_Serif-Web-Regular;
    font-size: 22px;
    color: #000;
    letter-spacing: 2px;
}
.insta_top p {
    font-family: PT_Serif-Web-Regular;
    font-size: 18px;
}
h2.custm-cap {
    font-family: PT_Serif-Web-Regular;
    letter-spacing: 2px;
	font-size: 22px;
}
.news {
    padding: 40px 15px;
}
.news h4 {
    text-align: center;
    font-family: PT_Serif-Web-Regular;
    letter-spacing: 3px;
    color: #000;
}
.news p {
    text-align: center;
    font-family: PT_Serif-Web-Regular;
    font-size: 18px;
}
.subs {
    border-top: 1px solid #ccc;
    margin-top: 40px;
    border-bottom: 1px solid #ccc;
}
.korting {
    padding: 11px 0;
    border: 1px solid;
    margin: 30px 0 0 0;
	margin-left: 37%;
    margin-right: 37%;
}
.korting h3 {
    text-align: center;
    margin-bottom: 0!important;
    font-family: PT_Serif-Web-Regular;
}
.footer .heading {
    font-family: PT_Serif-Web-Regular;
    font-weight: 400;
}
ul.bullet li {
    font-family: PT_Serif-Web-Regular;
    font-size: 16px;
	padding-bottom: 5px;
}
.footer-bottom-container, p {
    font-family: PT_Serif-Web-Regular;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}
.insta_top {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 45px;
}
.social_grid {
    margin-top: 30px;
}
.social_grid h4 {
    text-align: center;
}
.social_grid p {
    text-align: center;
    margin-bottom: 3rem!important;
}
.image_insta.col-md-3 {
    padding-bottom: 10px;
}
.custm-cap {
    padding: 10px;
    border: 0.5px solid #fff;
    color: #fff;
    background-color: rgba(118, 118, 118, 0.4);
}
.dropdown-block .dropdown-heading .icon {
    color: #333;
    font-size: 25px !important;
}
.header-regular .block-search .action.search .icon{
	color: #333;
}
.fa-user-o:before {
    content: "\f2c0";
    color: #000;
    font-weight: 600;
}
.fa-heart-o:before {
    content: "\f08a";
    font-weight: 600;
}
.ib-square {
    padding-top: 5px;
 }
 .custm-slides {
    text-align:center;
}

@media (min-width: 1132px) and (max-width: 1279px){
    div#user-menu-wrapper-regular{
        margin-top: -5.5px;
    }
}
 

@media (min-width: 768px) and (max-width: 1024px){
	.korting {
    margin-left: 30% !important;
    margin-right: 30% !important;
  }
  .slides2 {
     margin-left: -3px;
    text-align: end;
  }
}
@media only screen and (max-width: 769px){
	.header-container .skip-link .label{
		display:none;
	}
	
	
}


@media (min-width: 768px){ 
 .custm-slides {
    display: none;
 }
 .user-menu {
     padding-top: 3px;
	 border-bottom: 1px solid;
}

} 

@media (max-width: 768px){
/* mobile css */
	
	.minicart-wrapper {
     margin-top: 0px;
	}

	.skip-link.skip-search img {
		width: 20px;
	}
	 .footer .fa{
		 text-align: right;
	 }
	
	div#user-menu-wrapper-regular{
		display:none;
	}
	.footer-container .footer-primary-bottom .item.item-left {
    float: left;
	max-width: 60%;
}

.footer-container .footer-primary-bottom .item.item-right {
    margin-top: 15px;
}
.custm-slides {
    width: 100%;
    display: inline-block;
}
.slides1 {
    width: 48%;
    float: left;
}
.slides2 {
    width: 48%;
    float: left;
    margin-left: -5px;
	text-align: -webkit-right;
}
.insta_top, .ban.cutm-banner, .footer-container .grid12-12{
	display:none;
}
.footer-primary-container, .footer-primary{
	padding-top: 0px;
}
.footer-container .item-right{
	float: right !important;
}
.footer-container .item-left {	
	margin-right: 20px !important;
}
.footer-container.page-footer {
    margin-top: -40px;
}
.custom-category .cap-push-right-10{
	text-align: left;
	left: 2%;
}
.product-item-info a.product-item-link {
    font-size: 12px;
}

.ib-square {
    display: none;
}
.header-container .skip-content.mini-cart-content{
	    position: absolute;
		top: 80px;
		z-index:9;
}
.block-minicart .subtitle.empty{
	margin: 3px 20px 0 20px;
}
.header-container .skip-link {
     width: 10%;
 }
 .header-mobile .skip-link {
    background-color: #fff;
	padding: 4px;
 }
 .header-container .logo-wrapper--mobile {
    width: 45%;
 }
 .mini-cart-heading.dropdown-heading.skip-link.skip-cart.action.showcart.counter-over- {
    width: 100%;
	margin-top: -8px;
 }
.header-container .mini-cart, .header-container .mini-compare {
    float: right;
     margin-right: 11px;
 }
.skip-link.skip-account.custom_account {
    float: right;
 }
 .header-container .skip-link .icon {
     vertical-align: top;
   font-size: 20px !important;
 }
 .icon.fa {
   width: auto;
    height: auto;
  }
  .inner-container {
    padding-top: 10px;
 }
 .header-container .logo-wrapper--mobile .logo {
    margin-top: 1px;
  }
  .mini-cart-heading.dropdown-heading.skip-link.skip-cart.action.showcart.counter-over- {
    width: auto;
    margin-top: -8px;
    float: right;
 }
 .social-links span.fa.fa-instagram {
    width: 5px;
  }
}



@media (min-width: 991px) and (max-width: 1024px){
	.user-menu {
		padding-top: 5px;
	}
    div#user-menu-wrapper-regular{
        margin-top: -8.5px;
    }
}

@media (min-width: 640px) and (max-width: 768px){
	span.icon.ic.ic-cart.custm-minicart {
		padding-top: 8px;
	}

}
/* end */

@media (max-width: 767px){
   .slides2 {
		margin-left: 11px;
	}
}

@media (max-width: 411px){
.custom-category .cap.cap-bottom-left.set_inner a {
    font-size: 27px;
   }
   .slides2 {
		margin-left: 11px;
	}
	.owl-wrapper .cap-push-left-10 {
		left: 17%;
	}

}
@media (max-width: 320px){
.footer-container .item-left {
    margin-right: 6px !important;
 }
 span.icon.ic.ic-cart.custm-minicart {
    padding-top: 0px;
    margin-top: -3px;
  }
  .custom-category .cap.cap-bottom-left.set_inner a {
    font-size: 22px;
  }
  .custom-category .cap-push-right-10 {
    left: 1%;
 }
} 

li.nav-item.level0 {
    margin: 0px 12px;
}
.header-container {
    margin-bottom: 10px;
}
.block.itemslider .block-content, .cute_grid .block{
	margin:0;
}
.image_insta.col-md-3 img {
    height: 250px;
}
.columns .column.main{
	padding-bottom:0;
}
.footer-container .footer-primary-bottom-spacing{
	border-top:none;
}
.grid12-12:first-child {
    margin-left: 0px;
}
.footer-primary .grid12-2 {
    width: 10%;
    margin-left: 6%;
    margin-right: 0;
}
.custm-minicart img {
    width: 20px;
    padding-bottom: 4.5px;
}

 
@media (min-width: 993px) and (max-width: 1131px){
li.nav-item.level0 {
margin: 0px 7px;
}
.header-container .nav-container.simple .nav {
margin-top: -6px;
}
}
.links > li > a:hover{
background-color: none !important;
}

