<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at thisURL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_SizeChart
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
// @codingStandardsIgnoreFile
?>
<?php
/**
 * SizeChartButton
 * @var $block Bss\SizeChart\Block\SizeChartButton
 */

$idProduct = $block->getProduct()->getId();

$sizeChart = $block->getAllSizeChartByStoreView($idProduct, $block->getStoreId());
$popUp = $sizeChart->getPopUp();
if(
    $sizeChart &&
    $sizeChart->getEnable() == 1 &&
    $block->checkDisplay($popUp, "0")
) {
        ?>
        <div id="openModel">
            <a id="titleSizeChart" style="color: <?php echo  $block->getColorTextPopup();?> !important;">
                <?php echo __($block->getTitle()); ?>
            </a>
            <img id="iconPopup" src="<?php echo $block->getIcon();?>" alt="">
        </div>
        <div id="myModel">
            <!-- <h1><?php echo __($block->getTitle()); ?></h1> -->
            <div>
                <?php
                echo $block->editContentSizeChart($sizeChart->getContent());
                ?>
            </div>
        </div>
        <script type="text/x-magento-init">
             {
                 "*":
                    {
                        "Bss_SizeChart/js/popup": {}
                    }
             }
        </script>
        <?php
}
