#openModel{
  margin-bottom:10px;
  #titleSizeChart{
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
  }
  #iconPopup{
    margin-left: 3px;
    width: 18px;
    height: 18px;
  }
}
