#mainmenu ul li a {
padding: 0;
}
.main-container .cute_grid.feature_product h2 {
font-style: italic;
}
.main-container .cap-text-bg-light-1 .text{
background-color: rgba(118, 118, 118, 0.5);
}
.main-container a:hover .cap-text-bg-light-1 .text{
background-color: rgba(118, 118, 118, 0.5);
}
#maincontent .insta_top, #maincontent .subs {
border-top: 1px solid #808080;
border-bottom: 1px solid #808080;
}
.footer-primary-bottom-spacing.inner img {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
#maincontent .custm-cap, #maincontent .custom-category .cap.cap-bottom-left a{
background-color: rgba(118, 118, 118, 0.2);
}
.footer-container .footer-primary .block-1, .footer-container .footer-primary .block-2, .footer-container .footer-primary .block-3{
width: 30%;
margin:0;
}
.footer-container .footer-primary .block-4{
width: 10%;
margin: 0;
}
@media(max-width: 1024px){
#maincontent #user-menu-wrapper-regular .user-menu {
padding-top: 3px;
}
}

@media(max-width: 992px){
#maincontent #mainmenu ul li{
display: inline-block;
float: none;
}
}