<div class="row size_chart hidden-xs">
    <div class="col-md-12 col-sm-12">
       <p>Kies je maat</p>
    </div>
</div>

<style>
    .size_chart{
        padding-top: 20px;   
    }
    .size_chart p{
        font-size: 18px;
    }
</style>